*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Hanken Grotesk", sans-serif;
    background-color: hsl(221, 100%, 96%);
}

p{
    font-size: 18px;
}

.main-wrapper{
    margin: 5vh auto;
    background-color: hsl(0, 0%, 100%);
    width: 700px;
    display: flex;
    border-radius: 15px;
}

.result-wrapper{
    width: 50%;
    padding: 25px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 15px;
}

.result-wrapper h2{
    text-align: center;
    color:hsl(241, 100%, 89%);
}

.score-wrapper{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));   
    border-radius: 100%;
    width:150px;
    height:150px;
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.score{
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 60px;
    color: hsl(0, 0%, 100%);
}

.score-of{
    display: flex;
    justify-content: center;
    color: hsl(241, 100%, 89%);
}

.score-message{
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.summary-wrapper{
    width: 50%;
    padding: 15px;
}