*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Hanken Grotesk", sans-serif;
    background-color: hsl(221, 100%, 96%);
}

.main-wrapper{
    margin: 5vh auto;
    background-color: hsl(0, 0%, 100%);
    width: 650px;
    display: flex;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(200,199,255,0.63);
    -moz-box-shadow: 10px 10px 30px 0px rgba(200,199,255,0.63);
    box-shadow: 10px 10px 30px 0px rgba(200,199,255,0.63);
}

.result-wrapper{
    width: 50%;
    padding: 50px 35px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 15px;
}

.result-wrapper h2{
    text-align: center;
    color:hsl(241, 100%, 89%);
}

.score-wrapper{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));   
    border-radius: 100%;
    width:150px;
    height:150px;
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score{
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 60px;
    color: hsl(0, 0%, 100%);
}

.score-of{
    display: flex;
    justify-content: center;
    color: hsl(241, 100%, 89%);
}

.score-message{
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-weight: 200;
}

.score-message span{
    font-weight: bold;
    font-size: 25px;
}

.score-message p{
    margin-top: 10px;
    font-size: 18px;
}


.summary-wrapper{
    width: 50%;
    padding: 50px 35px;
}

.summary-wrapper h2{
    color: hsl(224, 30%, 27%);
    margin-bottom: 25px;
}


.summary-item-reaction{

    background-color: hsl(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.summary-item-reaction .skill .skill-icon{
    background-image: url(./images/icon-reaction.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.summary-item-memory{

    background-color:hsl(39, 100%, 56%, 0.1);
    color:hsl(39, 100%, 56%);
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.summary-item-memory .skill .skill-icon{
    background-image: url(./images/icon-memory.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.summary-item-verbal{

    background-color:hsl(166, 100%, 37%, 0.1);
    color:hsl(166, 100%, 37%);
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.summary-item-verbal .skill .skill-icon{
    background-image: url(./images/icon-verbal.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.summary-item-visual{

    background-color:hsl(234, 85%, 45%, 0.1);
    color:hsl(234, 85%, 45%);
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.summary-item-visual .skill .skill-icon{
    background-image: url(./images/icon-visual.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.skill-score{
    color: rgb(175, 175, 175);
    display: flex;
}

.skill-score-result{
    color: hsl(224, 30%, 27%);
}

.skill{
    display: flex;
    justify-content: space-between;
}

button{
    padding: 15px;
    border-radius: 25px;
    width: 100%;
    border: none;
    background-color: hsl(224, 30%, 27%);
    color: #fff;
}

button:hover{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}