*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Hanken Grotesk", sans-serif;
    background-color: hsl(221, 100%, 96%);
}

.main-wrapper{
    margin: 5vh auto;
    background-color: hsl(0, 0%, 100%);
    width: 700px;
    display: flex;
    border-radius: 15px;
}

.result-wrapper{
    width: 50%;
    padding: 15px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 15px;
}

.result-wrapper h2{
    text-align: center;
}

.score-wrapper{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));   
    border-radius: 100%;
    width:100px;
    height:100px;
    margin: auto;
}

.score{
    display: flex;
    justify-content: center;
}

.score-of{
    display: flex;
    justify-content: center;
}

.score-message{
    text-align: center;
}

.summary-wrapper{
    width: 50%;
    padding: 15px;
}